 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,500&family=Tajawal:wght@200;400;700;900&display=swap');

 body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto' ;
 }
 .App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #F5F7FB;

 }
.header{
  display: flex;
  justify-content: flex-end;
}
.header-child{
  width: 200px;
  height: 200px;
  background: #FFFAD1;
  border-radius:  10px 0  0px 150px;
}
.footer-child{
  width: 200px;
  height: 200px;
  background: #DEEBF8;
  border-radius:  0 200px 0 0px;
}
.main{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #293264;
}
.start-btn{
  padding: .8em 4em;
  background: #293264;
  color: #fff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.container{
  line-height: 18.7px;
  border-bottom: 1px solid rgba(0 ,0 ,0, 0.2);
  padding-bottom: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}
.container > h2{
  line-height: 30px;
}
.option-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin:  0 auto;
}
.option{
  border: 2px solid #293264;
  border-radius: 7.94px;
  padding: 0.3em 1em;
  font-size: .8rem;
  font-weight: 500;
  cursor: pointer;
  margin:  0 .5em;
}
.sec{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.sec > p {
  font-weight: 500;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .option-container {
    flex-direction: column;
  }
  .option {
    margin: .5em;
  }

  .sec{
    width: 100%;
  }
}


